/* 
 * Most form styles are in Form.css
 * Only component-specific styles should be added here 
 */

 .referral-form-container {
  width: 100%;
}

.referral-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}